.example-class {
    margin: 50px;
}

.page {
    height: 250px;
    width: 600px;
    padding: 20px;
    background-color: lightgrey;
    overflow: auto;
    margin-bottom: 20px;
  }
  
  .container {
    height: 400px;
    margin: 20px;
    padding: 20px;
    background-color: turquoise;
    border: 5px solid red;
    overflow: hidden;
  }
  
  .examples {
    display: flex;
    justify-content: space-evenly;
  }
  
  .example {
    flex: 0 1 auto;
  }
  
  .lorem-ipsum {
    height: 230px;
  }